@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;800&family=Shantell+Sans:ital,wght@0,300;0,400;1,300&display=swap');


* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth
}

.home {
  max-width: 100vw;
  height: 100vh;
  /* margin: 0 auto; */
  text-align: center;
}

.slick-slider {
  /* margin-bottom: 50px; */
}

.slick-slide img {
  max-width: 100%;
  /* margin: 0 auto; */
}

.slider-frame {
  background: url(../src/assets/school1.jpeg);
  height: 60vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply flex justify-center
}

.slider-frame2 {
  background-image: url(../src/assets/jess-bailey-l3N9Q27zULw-unsplash.jpg);
  @apply h-[60vh] w-[100vw] bg-center bg-cover bg-no-repeat flex justify-center items-center flex-col
}

.slider-body {
  @apply w-[100vw] h-[100%] flex justify-center items-center flex-col
}


.slider {
  @apply w-[100vw]
}

.slider-body2 {
  @apply flex justify-center items-center w-[100%] h-[100%]
}



button.slick-arrow.slick-next {
  /* right: -25px; */
  display: none !important;
}

.logo {
  @apply h-[100%] w-[6rem] ml-[3rem] rounded-[0.2rem]
}


.head-logo {
  @apply flex justify-center items-center mb-[1rem]
}


.great {
  @apply text-[3.5rem] text-[white] font-bold
}

.icon {
  @apply rounded-[1rem]
}


.navbar {
  height: 5rem;
  width: 100vw;
  background-color: #2f4a5f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
  top: 0em;

}

.navbar-active {
  height: 5rem;
  width: 100vw;
  background-color: #2f4a5f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 999;
  top: 0em;
}

.overlap {
  @apply relative bg-transparent h-[7rem] w-[100vw] mt-[-4.2rem] flex justify-center
}

.overlap-f {
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);

  @apply h-[100%] w-[50%] bg-[#2f4a5f] rounded-md flex flex-col
}

.overlap-body {
  @apply flex flex-row h-[80%] justify-between items-center px-[2rem]
}

.overlap-head {
  @apply text-[1.4rem] text-[white] font-medium
}

.v-line {
  border: 0.2rem solid white;
  @apply h-[100%] w-[0rem]
}

.over-text {
  @apply text-[1.4rem] font-bold text-[white]
}

.second {
  @apply h-[20vh] w-[100vw] bg-[#f9faf9] mb-[4rem]
}

.slider-f2 {
  @apply text-[2.5rem] w-[50%] font-medium text-center
}

.motto {
  @apply text-[white] text-[1.8rem]
}


.purple {
  @apply text-[purple]
}

.yellow {
  @apply text-[#5ebb52]
}

.orange {
  @apply text-[#0026ff]
}

.bl {
  @apply text-[brown]
}

.about-b {
  @apply w-[100%] justify-center flex items-center text-white
}

.about {
  @apply mt-[2rem] h-[3.5rem] w-[6.5rem] bg-black rounded-[4rem] justify-center flex items-center font-medium
}

.the-school {
  @apply mt-[2rem] text-[2.5rem] font-bold text-[#2f4a5f]
}

/* .sin {
  @apply h-[2rem] w-[2rem]  left-[1rem]
} */

.school-sect {
  @apply flex justify-center flex-col pt-[3rem]
}

.about-body {
  @apply flex justify-center items-center mt-[1rem] mb-[4rem]
}

.body-text {
  @apply w-[60%] h-[100%] text-center
}

.third {
  background: radial-gradient(30.56% 76.04% at 72.78% 14.44%, rgba(48, 165, 194, 0) 0%, rgba(44, 138, 175, 0.6) 100%);
  @apply bg-center bg-cover bg-no-repeat pb-[4rem] w-[100vw] pt-[2rem] flex flex-col items-center
}

.second-2 {
  @apply pb-[4rem]
}

.mission {
  @apply mt-[0rem] text-[3rem] font-bold text-[white]
}

.fourth {
  @apply h-[50vh] flex flex-row w-[100vw]
}

.fourth-heading {
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Shantell Sans', cursive;
  @apply text-[4rem] mb-[2rem] font-bold text-[#2f4a5f]
}

.fourth-header {
  @apply w-[50%] flex justify-center items-center
}

.links {
  border-bottom: 0.2rem solid black;
  @apply flex flex-row gap-[2rem] ml-[4rem] w-[50%]
}

.fourth-body {
  @apply w-[50%] pt-[3rem]
}

.value-content {
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);

  @apply bg-[#e4dcdc] h-[90%] w-[80%] ml-[4rem]
}

.mi-text2 {
  @apply text-[1.7rem] font-medium text-[#b3ff00]
}

.mi-text3 {
  @apply text-[1.7rem] font-medium text-[#fa2d09]
}

.mi-text4 {
  @apply text-[1.7rem] font-medium text-[#ffc400]
}

.mi-text5 {
  @apply text-[1.7rem] font-medium text-[#00ffff]
}


.mi-text6 {
  @apply text-[1.7rem] font-medium text-[white]
}

.mi-text1 {
  @apply text-[1.8rem] font-medium text-[#e7eb0d] mb-[1rem]
}

.mi-coverl {
  @apply flex flex-row w-[80%] flex justify-center self-center
}

.mi-cover {
  @apply flex flex-row px-[2rem]
}

.mission-text {
  @apply gap-[2rem] flex flex-col
}

.value-content {
  @apply p-[2rem] flex justify-center items-center
}

.link.active {
  color: red;
  text-decoration: underline;
  @apply font-bold
}

@media (max-width: 767px) {

  .home {
    max-width: 100vw;
    /* margin: 0 auto; */
    text-align: center;
  }

  .slick-slider {
    /* margin-bottom: 50px; */
  }

  .slick-slide img {
    max-width: 100%;
    /* margin: 0 auto; */
  }

  .slider-frame {
    background: url(../src/assets/school1.jpeg);
    height: 60vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @apply flex justify-center
  }

  .slider-frame2 {
    background-image: url(../src/assets/jess-bailey-l3N9Q27zULw-unsplash.jpg);
    @apply h-[60vh] w-[100vw] bg-center bg-cover bg-no-repeat flex justify-center items-center flex-col
  }

  .slider-body {
    @apply w-[100vw] h-[100%] flex justify-center items-center flex-col
  }


  .slider {
    @apply w-[100vw]
  }

  .slider-body2 {
    @apply flex justify-center items-center w-[100%] h-[100%]
  }



  button.slick-arrow.slick-next {
    /* right: -25px; */
    display: none !important;
  }

  .logo {
    @apply h-[100%] w-[5rem] ml-[3rem] rounded-[0.2rem]
  }


  .head-logo {
    @apply flex justify-center items-center mb-[1rem] w-[6rem]
  }


  .great {
    @apply text-[1.5rem] text-[white] font-bold
  }

  .icon {
    @apply rounded-[1rem]
  }


  .navbar {
    height: 5rem;
    width: 100vw;
    background-color: #2f4a5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0em;

  }

  .navbar-active {
    height: 5rem;
    width: 100vw;
    background-color: #2f4a5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    top: 0em;

  }

  .overlap {
    @apply relative bg-transparent h-[7rem] w-[100vw] mt-[-2.2rem] flex justify-center
  }

  .overlap-f {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);

    @apply h-[100%] w-[90%] bg-[#2f4a5f] rounded-md flex flex-col
  }

  .overlap-body {
    @apply flex flex-row h-[80%] justify-between items-center px-[1rem]
  }

  .overlap-head {
    @apply text-[1.4rem] text-[white] font-medium
  }

  .v-line {
    border: 0.1rem solid white;
    @apply h-[90%] w-[0rem]
  }

  .over-text {
    @apply text-[0.8rem] font-bold text-[white]
  }

  .second {
    @apply h-[20vh] w-[100vw] bg-[#f9faf9] mb-[4rem]
  }

  .slider-f2 {
    @apply text-[1.5rem] w-[50%] font-medium text-center
  }

  .motto {
    @apply text-[white] text-[1.8rem]
  }


  .purple {
    @apply text-[purple]
  }

  .yellow {
    @apply text-[#5ebb52]
  }

  .orange {
    @apply text-[#0026ff]
  }

  .bl {
    @apply text-[brown]
  }

  .about-b {
    @apply w-[100%] justify-center flex items-center text-white
  }

  .about {
    @apply mt-[2rem] h-[3.5rem] w-[6.5rem] bg-black rounded-[4rem] justify-center flex items-center font-medium
  }

  .the-school {
    @apply mt-[2rem] text-[2.5rem] font-bold text-[#2f4a5f]
  }

  /* .sin {
    @apply h-[2rem] w-[2rem]  left-[1rem]
  } */

  .school-sect {
    @apply flex justify-center flex-col pt-[3rem]
  }

  .about-body {
    @apply flex justify-center items-center mt-[1rem] mb-[4rem]
  }

  .body-text {
    @apply w-[60%] h-[100%] text-center
  }

  .third {
    background: radial-gradient(30.56% 76.04% at 72.78% 14.44%, rgba(48, 165, 194, 0) 0%, rgba(44, 138, 175, 0.6) 100%);
    @apply bg-center bg-cover bg-no-repeat pb-[4rem] w-[100vw] pt-[2rem] flex flex-col items-center
  }

  .second-2 {
    @apply pb-[4rem]
  }

  .mission {
    @apply mt-[0rem] text-[1.5rem] font-bold text-[white]
  }

  .fourth {
    @apply h-[50vh] flex flex-col w-[100vw]
  }

  .fourth-heading {
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Shantell Sans', cursive;
    @apply text-[4rem] mb-[2rem] font-bold text-[#2f4a5f]
  }

  .fourth-header {
    @apply w-[50%] flex justify-center items-center
  }

  .links {
    border-bottom: 0.2rem solid black;
    @apply flex flex-row gap-[2rem] ml-[4rem] w-[50%]
  }

  .fourth-body {
    @apply w-[50%] pt-[3rem]
  }

  .value-content {
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);

    @apply bg-[#e4dcdc] h-[90%] w-[100%] ml-[2rem]
  }

  .mi-text2 {
    @apply text-[1rem] font-medium text-[#b3ff00]
  }

  .mi-text3 {
    @apply text-[1rem] font-medium text-[#fa2d09]
  }

  .mi-text4 {
    @apply text-[1rem] font-medium text-[#ffc400]
  }

  .mi-text5 {
    @apply text-[1rem] font-medium text-[#00ffff]
  }


  .mi-text6 {
    @apply text-[1rem] font-medium text-[white]
  }

  .mi-text1 {
    @apply text-[1rem] font-medium text-[#e7eb0d] mb-[1rem]
  }

  .mi-coverl {
    @apply flex flex-row w-[80%] flex justify-center self-center
  }

  .mi-cover {
    @apply flex flex-row px-[2rem]
  }

  .mission-text {
    @apply gap-[2rem] flex flex-col
  }

  .value-content {
    @apply p-[2rem] flex justify-center items-center 
  }

  .link.active {
    color: red;
    text-decoration: underline;
    @apply font-bold
  }

  .pin {
    @apply h-[1.5rem]
  }



}